.todo-item-enter {
  opacity: 0;
  transform: scale(0.8) translateY(-20px);
}
.todo-item-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 1000ms ease, transform 1000ms ease;
}

.todo-item-exit {
  opacity: 1;
  transform: scale(1) translateY(0);
}
.todo-item-exit-active {
  opacity: 0;
  transform: scale(0.8) translateY(20px);
  transition: opacity 1000ms ease, transform 1000ms ease;
}
